/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}
.hike-photo {
  margin: 10px;
  max-width: 500px;
}

#content {
  border: solid 5px #d69;
  border-style: dashed;
}

p {
  font-family: Georgia;
  text-indent: 20px;
  margin-left: 10px;
}