input[type="text" i] {
    writing-mode: horizontal-tb;
    padding-block: 1px;
    padding-incline: 2px;
}

.text {
    text-decoration: wavy;
    color: purple;
    background-color: green;
    padding: 5px;
    font-size: large;
}